.Message{
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.Message__info{
    margin-left: 20px;
}
.Message__timestamp{
    color: gray;
    margin-left: 20px;
    font-size: x-small;
}